[project]
	description = ProtectSite extension adds a new special page, Special:ProtectSite, where users with the protectsite user right can block various site modifications, such as restricting new uploads, new page creations, etc.
[access]
	inheritFrom = mediawiki/extensions
[receive]
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/*"]
	owner = group ShoutWiki
	owner = group extension-ProtectSite
	create = group ShoutWiki
	create = group extension-ProtectSite
	push = group ShoutWiki
	push = group extension-ProtectSite
	pushMerge = group ShoutWiki
	pushMerge = group extension-ProtectSite
[allowSuperproject "mediawiki/extensions"]
	matching = refs/heads/REL1_27:refs/heads/REL1_27
